# Dependencies
node_modules/

# Build outputs
.next/
dist/
*.tsbuildinfo

# Environment
.env
.env*.local

# Turborepo
.turbo/

# PWA
public/sw.js
public/workbox-*.js
public/worker-*.js
public/sw.js.map
public/workbox-*.js.map

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
